<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'修改密码'"></title>
</head>
<head th:replace="base.html::base-head">
</head>
<body>
<div th:replace="base.html::base-navbar"></div>
<div class="containter">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">绑定邮箱</h3>
                </div>
                <div class="panel-body">
                    <form id="changePasswordForm" action="" method="POST">
                        <label for="id_old_password">旧的密码</label>
                        <input type="password" name="oldPassword" class="form-control" placeholder="请输入旧的密码" required="" id="id_old_password">
                        <p class="text-danger"></p>
                        <label for="id_new_password">新的密码</label>
                        <input type="password" name="newPassword" class="form-control" placeholder="请输入新的密码" required="" id="id_new_password">
                        <p class="text-danger"></p>
                        <label for="id_new_password_again">请再次输入新的密码</label>
                        <input type="password" name="newPasswordAgain" class="form-control" placeholder="请再次输入新的密码" required="" id="id_new_password_again">
                        <p class="text-danger"></p>
                        <span id="tip" class="text-danger"></span>
                        <div class="clearfix"></div>
                        <div class="pull-left">
                        </div>
                        <div class="pull-right">
                            <input type="submit" value="修改" class="btn btn-primary">
                            <button class="btn btn-default" onclick="window.location.href='/'">返回</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:replace="base.html::base-script"></script>
<script type="text/javascript">
    $("#changePasswordForm").submit(function() {
        $.ajax({
            url: "/user/changePassword",
            type: 'POST',
            cache: false,
            contentType: "application/json",
            data:  formToJson($(this)),
            success: function(result){
                if(result["status"]){
                    window.location.href = '/';
                }else{
                    $('#' + result["errorId"]).text(result["message"]);
                }
            },
            error: function(result){

            }
        });
        return false;
    });
</script>
</body>
</html>