<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'重置密码'"></title>
</head>
<head th:replace="base.html::base-head">
</head>
<body>
<div th:replace="base.html::base-navbar"></div>
<div class="containter">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">重置密码</h3>
                </div>
                <div class="panel-body">
                    <form id="forgotPasswordForm" action="" method="POST">
                        <label for="id_email">邮箱</label>
                        <input type="email" name="email" class="form-control" placeholder="请输入绑定过的邮箱" required="" id="id_email">
                        <p class="text-danger"></p>
                        <label for="id_verification_code">验证码</label>
                        <input type="text" name="verificationCode" class="form-control" placeholder="点击“发送验证码”发送到邮箱" id="id_verification_code">
                        <p class="text-danger"></p>
                        <label for="id_new_password">新的密码</label>
                        <input type="password" name="newPassword" class="form-control" placeholder="请输入新的密码" required="" id="id_new_password">
                        <p class="text-danger"></p>
                        <span id="tip" class="text-danger"></span>
                        <div class="clearfix"></div>
                        <div class="pull-left">
                            <button id="send_code" class="btn btn-primary">发送验证码</button>
                        </div>
                        <div class="pull-right">
                            <input type="submit" value="重置" class="btn btn-primary">
                            <button class="btn btn-default" onclick="window.location.href='/user/login/'">返回</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:replace="base.html::base-script"></script>
<script type="text/javascript">
    $("#send_code").on('click',function(){
        var self = this;
        var email = $("#id_email").val();
        if(email==""){
            $("#email_error").text('邮箱不能为空');
            return false;
        }
        $.ajax({
            url: "/user/sendVerificationCode",
            type: 'POST',
            cache: false,
            data:  {
                "email" : email,
                'sendFor': 'forgot_password_code'
            },
            success: function(result){
                if(result["status"] === true){
                    var $sendCode = $("#send_code")
                    $sendCode.addClass("disabled");
                    $sendCode.attr("disabled",result["disabled"]);
                    var time = 30;
                    $sendCode.text(time + 's');
                    var interval = setInterval(() => {
                        if(time <= 0){
                            clearInterval(interval);
                            $sendCode.removeClass('disabled');
                            $sendCode.attr('disabled', false);
                            $sendCode.text('发送验证码');
                            return false;
                        }
                        time --;
                        $sendCode.text(time + 's');
                    }, 1000);
                }else {
                    $('#' + result["errorId"]).text(result["message"]);
                }
            },
            error:function(result){
                //异常处理
            }
        });
        return false;
    });

    $("#forgotPasswordForm").submit(function() {
        $.ajax({
            url: "/user/forgotPassword",
            type: 'POST',
            cache: false,
            contentType: "application/json",
            data:  formToJson($(this)),
            success: function(result){
                if(result["status"]){
                    window.location.href = '/user/login';
                }else{
                    $('#' + result["errorId"]).text(result["message"]);
                }
            },
            error: function(result){

            }
        });
        return false;
    });
</script>
</body>
</html>